<h4>Recommendations</h4>
<hr>
<!--<div>-->
  <!--<form class="navbar-search pull-left">-->
    <!--<input type="text" class="search-query" placeholder="Filter <%= @user.login %>'s recomendations…">-->
  <!--</form>-->

  <!--<ul class="nav nav-pills pull-right">-->
    <!--<li class="disabled"><a href="#"><strong>All</strong></a></li>-->
    <!--<li><a href="#">Ruby</a></li>-->
    <!--<li><a href="#">Java Script</a></li>-->
    <!--<li><a href="#">Python</a></li>-->
  <!--</ul>-->
<!--</div>-->

<%- if @user.followings_count > 0 -%>
  <%- if @user.recommendations.available.count > 0 -%>
    <div class="js-list-recommendations">
      <%- recommendations = @user.recommendations.available.paginate(:page => 1) -%>
      <%= render recommendations %>
    </div>
    <div class="span8 pagination-centered js-load-more">
      <%= render 'recommendations/load_more', :user => @user, :next_page => recommendations.next_page -%>
    </div>
  <%- else -%>
    <div class="pull-center">
      <br><br><br><br>
      <div id="spinner"></div>
    </div>
    <br><br><br><br><br><br>
    <div class="pull-center">
      <strong>Processing...</strong>
    </div>
    <script type="text/javascript">
      setTimeout(function(){ window.location.reload(true) }, 15000);
    </script>
  <%- end -%>
<%- else -%>
  <div class="alert">
    <strong>Sorry!</strong> Is not possible to make recommendations for you, because you do not have any followings on GitHub.
  </div>
<%- end -%>
