<h4>Recommendations</h4>
<hr>
<!--<div>-->
  <!--<form class="navbar-search pull-left">-->
    <!--<input type="text" class="search-query" placeholder="Filter <%= @user.login %>'s recomendations…">-->
  <!--</form>-->

  <!--<ul class="nav nav-pills pull-right">-->
    <!--<li class="disabled"><a href="#"><strong>All</strong></a></li>-->
    <!--<li><a href="#">Ruby</a></li>-->
    <!--<li><a href="#">Java Script</a></li>-->
    <!--<li><a href="#">Python</a></li>-->
  <!--</ul>-->
<!--</div>-->

<% if signed_in? %>
  <div class="js-list-recommendations">
    <%- recommendations = @user.recommendations.available.paginate(:page => 1) -%>
    <%= render recommendations %>
  </div>
  <div class="span8 pagination-centered js-load-more">
    <%= render 'recommendations/load_more', :user => @user, :next_page => recommendations.next_page -%>
  </div>
<% end %>
