<h1 class="pull-center">Designed for developers</h1>

<div class="pull-center">
  <div id="myCarousel" class="carousel slide">
    <!-- Carousel items -->
    <div class="carousel-inner">
      <div class="carousel-inner">
        <div class="item active">
          <%= image_tag 'screen1.png' -%>
          <div class="carousel-caption">
            <h4>First step</h4>
            <p>You should sign in using your GitHub account.</p>
          </div>
        </div>
        <div class="item">
          <%= image_tag 'screen2.png' -%>
          <div class="carousel-caption">
            <h4>Second step</h4>
            <p>We will analyze your GitHub account. This may take some time.</p>
          </div>
        </div>
        <div class="item">
          <%= image_tag 'screen3.png' -%>
          <div class="carousel-caption">
            <h4>Third step</h4>
            <p>You will see personalized recommendations.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
  </div>
</div>

