<h1 class="pull-center">Designed for developers</h1>

<div class="pull-center">
  <div id="myCarousel" class="carousel slide">
    <!-- Carousel items -->
    <div class="carousel-inner">
      <div class="carousel-inner">
        <div class="item active">
          <img src="http://twitter.github.com/bootstrap/assets/img/bootstrap-mdo-sfmoma-01.jpg" alt="">
          <div class="carousel-caption">
            <h4>First Thumbnail label</h4>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          </div>
        </div>
        <div class="item">
          <img src="http://twitter.github.com/bootstrap/assets/img/bootstrap-mdo-sfmoma-02.jpg" alt="">
          <div class="carousel-caption">
            <h4>Second Thumbnail label</h4>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          </div>
        </div>
        <div class="item">
          <img src="http://twitter.github.com/bootstrap/assets/img/bootstrap-mdo-sfmoma-03.jpg" alt="">
          <div class="carousel-caption">
            <h4>Third Thumbnail label</h4>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
  </div>
</div>
<br>
<div class="row features">
  <div class="span4">
    <h3>12 Column Grid</h3>
    <p>Montes faucibus viverra enim egestas nibh placerat pellentesque dignissim vehicula amet eget nascetur lacus sed, nam nonummy diam, hendrerit.</p>
  </div>
  <!--end span4-->
  <div class="span4">
    <h3>Responsive</h3>
    <p>Montes faucibus viverra enim egestas nibh placerat pellentesque dignissim vehicula amet eget nascetur lacus sed, nam nonummy diam, hendrerit.</p>
  </div>
  <!--end span4-->
  <div class="span4">
    <h3>Made With Bootstrap</h3>
    <p>Montes faucibus viverra enim egestas nibh placerat pellentesque dignissim vehicula amet eget nascetur lacus sed, nam nonummy diam, hendrerit.</p>
  </div>
  <!--end span4-->
</div>
